body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #000000;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  padding: 30px 0;
}

.logo {
  max-width: 250px;
}

.image-viewer-container {
  width: 90%;
  margin: 5px auto;
  text-align: center;
  background-color: #000000;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-image: linear-gradient(45deg, #c19632, #c29b3a, #bf8e33);
  background-size: 200% 200%;
  animation: rotateColors 15s linear infinite;
}

@keyframes rotateColors {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.page-image {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
}

/* Updated styles for the popup at the bottom of the screen */
.popup {
  display: none; /* Initially hidden */
  position: fixed;
  bottom: 0; /* Stick the popup to the bottom */
  left: 50%; /* Center the popup horizontally */
  transform: translateX(-50%); /* Center the popup */
  background-color: rgba(0, 0, 0, 0.8); /* Slightly transparent background */
  padding: 20px;
  border-radius: 10px 10px 0 0; /* Rounded corners only at the top */
  text-align: center;
  width: 90%; /* Make it wide but not full screen */
  max-width: 500px; /* Limit max width */
  color: #fff;
  font-family: Arial, sans-serif; /* More neutral font for better readability */
  font-weight: bold;
  font-size: 1.2em; /* Adjust font size */
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.5); /* Add shadow at the top for depth */
  z-index: 9999; /* Ensure it's above other elements */
}

/* Promo text style */
.popup #promo-text {
  color: #f2b634;
  text-shadow: 2px 2px 5px #000000;
}

/* Close button */
.close-btn {
  color: #f5f3f3;
  font-size: 24px; /* Smaller close button */
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Optional: Fade-in effect */
.popup {
  opacity: 0;
  transition: opacity 5.5s ease-in-out; /* Fade-in transition */
}

.popup.show {
  opacity: 1;
}


footer {
  padding: 20px 0;
}

.social-media-icons {
  list-style-type: none;
  padding: 0;
}

.social-media-icons li {
  display: inline-block;
  margin: 0 10px;
}

.social-media-icons li a img {
  width: 60px;
  height: auto;
  transition: transform 0.3s;
}

.social-media-icons li a img:hover {
  transform: scale(1.1);
}

/* Adjust image height for mobile devices */
@media (max-width: 768px) {
  .page-image {
    height: auto;
    max-width: 100%;
  }
}

.page-image {
  pointer-events: none; /* Prevent any mouse events on images */
  user-select: none; /* Disable text selection */
}

.image-viewer-container {
  display: flex; /* Use flexbox to display images in a row */
  flex-wrap: wrap; /* Allow wrapping of images to the next line */
}

.image-viewer-container img {
  pointer-events: auto; /* Re-enable events for the image elements */
}


